<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Sentiment Analysis of Stocks</title>
  </head>

  <body>
      <div style="color:orange">
        <form action="{{ url_for('predict') }}" method="post">
          <h2>Stock Sentiment Analysis</h2>
          <h3>Upload the csv file with headlines</h3>
          <input id="message" name="headline" type="file">
          <br><br>
          <button id="sub" type="submit">Check</button>
        </form>

        <h3>{{ prediction_text }}</h3>
      </div>

      <style>
        body {
          text-align: center;
          padding: 0px;
        }

        h2 {
          color: black;
        }

        h3 {
          color: black;
        }
      </style>
  </body>
</html>
